/* Navigation Styling */

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li {
  list-style-type: none;
  padding: 0px 20px;
}
nav ul {
  display: flex;
  margin: 0px;
}
nav {
  background-color: var(--darkblue);
  margin: 0px;
  padding: 15px;
}

main {
  height: 90vh;
  background-color: var(--offwhite);
}

/* Hero Styling */

main h1 {
  text-align: center;
  padding: 0px;
}
main {
  padding: 0px;
  display: grid;
  align-items: center;
  color: var(--lightblue);
}

/* Blog Styling */

.blog {
  margin: auto;
}

.card {
  margin: auto;
  width: 70%;
  background-color: #f4f9e9;
}
.blog h2,
p {
  padding: 20px;
}

/* Contact Page Styling */

.contact {
  margin: auto;
  width: 300px;
  height: 90vh;
  display: flex;
  align-items: center;
}

/* Projects Styling */

  section {
  margin: auto;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
section h2 {
  text-align: center;
  padding: 40px;
}
.section-header{
  text-align: center;
}
#random-num {
  padding: 20px;
  font-size: 30px;
}

/* #random-btn {
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
} */
.project {
  width: 600px;
  height: 500px;
  background-color: var(--lightblue);
  margin: 10px 10px;
  text-align: center;
  font-size: 20px;;
}

.head{
  color:blue;
  margin:auto;
  width:300px;
  font-family:sans-serif;
}

#score{
  width:300px;
  margin:auto;
  text-align:center;
  padding:10px;
  font-size:30px;
  font-family:sans-serif;
}

#game{
  width:300px;
  margin:auto;
  text-align:center;
}
#result{
  width:300px;
  margin:auto;
  text-align:center;
  padding:20px;
}

.calc{
  padding:8px;
  width:40px;
  margin:3px;
  font-size:20px;
  height:40px;
  background:darkblue;
  color:white;
  border:none;
  font-family:sans-serif;
}

#calc{
  margin:auto;
  width:250px;
  text-align:center;
  border:2px solid black;
  margin-top:100px;
}

#res{
  padding:20px;
  font-size:20px;
  font-weight:600;
  font-family:sans-serif;
  border:1px solid black;
  background:lightgrey;
  margin:5px;
  
}

#clock{
  border:1px solid black;
  height:300px;
  width:300px;
  border-radius:300px;
  position:relative;
  margin:auto;
}





#hand{
  height:1px;
  width:120px;
  background-color:red;
  transform-origin:100%;
  position:absolute;
  top:50%;
  left:10%;
  
}
#shand{
  height:3px;
  width:120px;
  background-color:black;
  transform-origin:100%;
  position:absolute;
  top:50%;
  left:10%;
  
}
#hour{
  height:3px;
  width:90px;
  background-color:black;
  transform-origin:100%;
  position:absolute;
  top:50%;
  left:20%;
  
}


#starwars{
width:900px;
margin:auto;
}

#rock{
  margin-top:100px;
}

