  /* Body Styling - Applies to whole page */

body {
  margin: 0px;
  padding: 0px;
  font-size: 1.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

  /* CSS Variables */
:root{
  --darkblue:#0D397F;
  --lightblue:#1C77C8;
  --offwhite:#F4F9E9;
  --lightred:#FF1A6A;
  --darkred:#BC0639;
  --darkgrey:#444;
}


/* Navigation Styling */

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li {
  list-style-type: none;
  padding: 0px 20px;
}
nav ul {
  display: flex;
  margin: 0px;
}
nav {
  background-color: var(--darkblue);
  margin: 0px;
  padding: 15px;
}

main {
  height: 90vh;
  background-color: var(--offwhite);
}

/* Footer Styling */

footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li {
  list-style-type: none;
  padding: 0px 20px;
}
footer ul {
  display: flex;
  margin: 0px;
}
footer {
  background-color: var(--darkgrey);
  margin: 0px;
  padding: 15px;
}

/* Hero Styling */

main h1 {
  text-align: center;
  padding: 0px;
}
main {
  padding: 0px;
  display: grid;
  align-items: center;
  color: var(--lightblue);
}

/* Blog Styling */

.blog {
  margin: auto;
}

.card {
  margin: auto;
  width: 70%;
  background-color: #f4f9e9;
}
.blog h2,
p {
  padding: 20px;
}

/* Contact Page Styling */

.contact {
  margin: auto;
  width: 300px;
  height: 90vh;
  display: grid;
  align-items: center;
}

.project {
  width: 45vw;
  min-height: 50vh;
  background-color: var(--lightred);
  margin: 10px auto;
  text-align: center;
  font-size:3vw;
}

/* Projects Styling */

.section {
  margin: auto;
}
section h2 {
  text-align: center;
  padding: 40px;
}

#random-num{
    padding:20px;
    font-size:30px;
}

#random-btn{
    padding:20px;
    border-radius: 10px;
    font-size: 20px;
}
