body {
}

.sidebar {
        grid-area: sidebar;
    }

    .content {
        grid-area: content;
    }

    .header {
        grid-area: header;
    }


    .wrapper {
        display: grid;
        grid-template-columns: 1fr  1fr  1fr 1fr;
        grid-template-areas:
               "header header  header header"
                             "content content text text"
                             "sidebar sidebar sidebar sidebar";
        background-color: #fff;
        color: #444;
    }
.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #999;
}

.content{
    background-color: rgb(255, 0, 76);
}
.text{
    background-image: url('skate.jpeg');
}
